.block-content {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 3;
  max-width: 865px;
  height: 100%;
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
